* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    padding: 10px;
}

.nav-bar ul li a {
    text-decoration: none;
}


.nav-bar ul li a:hover {
    text-decoration: underline;
}

